.fieldset {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	border: 0;
}

.types {
	width: fit-content;
	margin: var(--sp-4) auto 0 auto;
	display: flex;
	flex-flow: row;
	gap: var(--sp-4);
}

.expense,
.income {
	padding: var(--sp-2) var(--sp-4);
	background-color: var(--bg-secondary-dk);
	border-radius: var(--br-base);
	box-shadow: var(--bs-sm);
	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;
	user-select: none;
}

.expense.disabled,
.income.disabled {
	opacity: 0.5;
	cursor: not-allowed;
}

.expense:not(.disabled):hover,
.income:not(.disabled):hover {
	box-shadow: var(--bs-sm-dk);
}

.income.selected {
	color: var(--text-accent);
	background: var(--clr-income-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-income-dk) 0%,
		var(--clr-income) 100%
	);
}

.expense.selected {
	color: var(--text-accent);
	background: var(--clr-expense-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-expense-dk) 0%,
		var(--clr-expense) 100%
	);
}
