.config_menu {
	display: flex;
	flex-flow: column;
}

.item {
	display: flex;
	align-items: center;
	gap: var(--sp-4);
	font-size: var(--fs-lg);
	text-decoration: none;
	color: inherit;
	padding: var(--sp-4);
	border-bottom: 1px solid var(--bg-secondary-dk);
	transition: background-color 0.2s ease-in-out;
	cursor: pointer;
}

.item:hover {
	background-color: var(--bg-secondary-dk);
}

.item.danger {
	background-color: var(--bg-danger);
	color: white;
}
