.category_list {
	display: flex;
	flex-flow: wrap;
	gap: var(--sp-4);
}

.category {
	width: 100%;
	display: flex;
	align-items: center;
	gap: var(--sp-2);
	background-color: var(--bg-secondary-lt);
	padding: var(--sp-3);
	border-radius: var(--br-base);
	box-shadow: var(--bs-base);
	transition: box-shadow 0.2s ease-in-out;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

.category:hover {
	box-shadow: var(--bs-base-dk);
}

.icon {
	font-size: var(--fs-2xl);
}

.name {
	font-size: var(--fs-lg);
	font-weight: 600;
}

.count {
	margin-left: auto;
	color: var(--text-accent);
	background-color: var(--bg-primary);
	padding: var(--sp-2);
	border-radius: var(--br-base);
}

@media (min-width: 576px) {
	.category {
		width: calc(50% - var(--sp-4) - var(--sp-4));
	}
}
