.category {
	font-size: inherit;
	min-width: var(--fs-4xl);
	min-height: var(--fs-4xl);
	width: auto;
	height: inherit;
	padding: var(--sp-1);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: var(--br-lg);
	color: var(--text-accent);
	background: var(--clr-cat-default-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-default-dk) 0%,
		var(--clr-cat-default) 100%
	);
}

.category[data-category="food"] {
	background: var(--clr-cat-food-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-food-dk) 0%,
		var(--clr-cat-food) 100%
	);
}

.category[data-category="salary"] {
	background: var(--clr-cat-salary-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-salary-dk) 0%,
		var(--clr-cat-salary) 100%
	);
}

.category[data-category="sport"] {
	background: var(--clr-cat-sport-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-sport-dk) 0%,
		var(--clr-cat-sport) 100%
	);
}

.category[data-category="shopping"] {
	background: var(--clr-cat-shopping-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-shopping-dk) 0%,
		var(--clr-cat-shopping) 100%
	);
}

.category[data-category="travel"] {
	background: var(--clr-cat-travel-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-travel-dk) 0%,
		var(--clr-cat-travel) 100%
	);
}

.category[data-category="streaming"] {
	background: var(--clr-cat-streaming-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-streaming-dk) 0%,
		var(--clr-cat-streaming) 100%
	);
}

.category[data-category="education"] {
	background: var(--clr-cat-education-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-education-dk) 0%,
		var(--clr-cat-education) 100%
	);
}

.category[data-category="gaming"] {
	background: var(--clr-cat-gaming-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-gaming-dk) 0%,
		var(--clr-cat-gaming) 100%
	);
}

.category[data-category="healthcare"] {
	background: var(--clr-cat-healthcare-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-healthcare-dk) 0%,
		var(--clr-cat-healthcare) 100%
	);
}

.category[data-category="gym"] {
	background: var(--clr-cat-gym-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-gym-dk) 0%,
		var(--clr-cat-gym) 100%
	);
}

.category[data-category="clothes"] {
	background: var(--clr-cat-clothes-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-clothes-dk) 0%,
		var(--clr-cat-clothes) 100%
	);
}

.category[data-category="gift"] {
	background: var(--clr-cat-gift-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-gift-dk) 0%,
		var(--clr-cat-gift) 100%
	);
}

.category[data-category="bills"] {
	background: var(--clr-cat-bills-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-bills-dk) 0%,
		var(--clr-cat-bills) 100%
	);
}

.category[data-category="decoration"] {
	background: var(--clr-cat-decor-dk);
	background: linear-gradient(
		-25deg,
		var(--clr-cat-decor-dk) 0%,
		var(--clr-cat-decor) 100%
	);
}
